<h1 class="display-4 mb-4">Log In</h1>
<form action="/login" method="POST">
	<div class="form-group">
		<input type="text" name="username" class="form-control form-control-lg" placeholder="Enter your name" required>
		<input type="password" name="password" class="form-control form-control-lg" placeholder="Enter your password" required>
	</div>
	<input type="submit" value="Login" class="btn btn-dark btn-lg">
	<a href="/register" class="btn btn-primary btn-lg">Register</a>
</form>